.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splash-border {
    background-color: var(--cor-gray03); 
    padding: 20px; 
    border: 6px solid var(--cor-body); 
    border-radius: 45px; 
}

.splash-image {
    width: 100px; 
    height: auto;
    border-radius: 10px;
    border: 6px solid var(--cor-button);
    padding: 10px;
}

.splash {
    text-align: center;
}

.splash-title {
    font-size: 24px;
    margin-top: 10px;
}

.splash-message {
    font-size: 16px;
    margin-top: 10px;
}


